@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
    font-family: Montserrat;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #072e55 !important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #8bad29;
}
